
// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


#featured {
  padding: 5rem 0;
  background: url("/img/bg-featured.png") $brand-color no-repeat 0 55%;
}
.featured--text {
  @include rem-calc(18px);
  
  margin: 0 auto;
  text-align: center;
  color: white;
  font-weight: 200;
  @include breakpoint(tablet) {
    @include rem-calc(26px);
    width: 66.66%;
  }
}
#content {
  padding: 5rem 0;
  .container {
    display: flex;
    align-items: stretch;
    .column {
      @include breakpoint(laptop) {
        margin-right: 120px;
        margin-bottom: 0;
      }
      flex-grow: 1;
      min-width: 320px;
      margin-bottom: 6rem;
      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
  }
}

.contact--name {
  padding-left: 4rem;
  background: url('/img/icon-vcard.svg') no-repeat left center;
}

address {
  padding-left: 4rem;
}
