
// -----------------------------------------------------------------------------
// This file contains all styles related to the carousel component.
// -----------------------------------------------------------------------------

.owl-carousel {
  .item {
    padding: 9rem 0 2rem 0;
    text-align: center;
  }
  h1 {
    @include rem-calc(48px);
    @include breakpoint(tablet) {
      @include rem-calc(71px);
    }
    margin: 0 auto 2rem auto;
    letter-spacing: -2px;
    text-transform: none;
    color: $brand-color;
    font-weight: 100;
  }
  p {
    @include rem-calc(24px);
    @include breakpoint(tablet) {
      @include rem-calc(30px);
    }
    @include breakpoint(tablet) {
      padding: 0 10rem;
    }
    margin: 0 auto 2em auto;
    color: $brand-color;
    font-weight: 300;
  }
  .button {
    margin-bottom: 5rem;
  }
}
