
/// -----------------------------------------------------------------------------
// This file contains all type declarations.
// -----------------------------------------------------------------------------

body {
  color: $text-color;
  font: 300 100% / 1.4 $text-font-stack;
}
h1 {
  @include rem-calc(26px);
  margin: 0 0 5rem 0;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $brand-color;
  font-weight: 700;
}
h2 {
  @include rem-calc(34px);
  margin: 0 0 2rem 0;
  color: $brand-alt-color;
  font-weight: 300;
}
